@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.italianno-regular {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;

}
nav {
    padding: 4px ; 
    display: flex; 
    justify-content: flex-end;
    margin-left: auto;


}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 10px; 
}


nav ul li a {
    border-radius: 5px;
    text-decoration: none; 
    color: #ffffff; 
    background-color: #1B2838; 
    padding: 10px; 
    border-radius: 3px; 
    font-weight: bold; 
    transition: 0.3s; 
}


nav ul li a:hover {
    background-color: #ffd700; 
    color: #333;
}


header {
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/27/32/a4/2732a4d77346d536233da4c875517796.jpg);
    background-size: contain;
    height: 140px;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
}

header h1 {
    background-color: #3A506B;
    border-radius: 20px;
    border: 2px #ffffff;
    display: inline-block; 
    font-size: 58px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #D3D3D3;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


body {
    background: url('https://i.pinimg.com/736x/af/6e/27/af6e27ba4f7b410216c2ef0451073c99.jpg');
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    min-height: 500px;
    max-width: 1800px;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 200px;
    gap: 35px;
    padding: 20px;
    top: 100px;
}

.card {
    background: linear-gradient(#1B2838, #3A506B);
    width: 300px;
    height: 375px;
    border: 4px inset #acaaa6;
    box-shadow: 1px 1px 11px 2.5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: hidden;
}

.card:hover {
    width: 350px;
    height: 415px;
    box-shadow: 2.5px 2.5px 27.5px 5px rgba(0, 0, 0, 0.3);
}

.card .imagem {
    width: 292px;
    height: 224px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.card .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 3px solid rgb(63, 59, 59);
}

.card:hover .imagem {
    width: 342px;
    height: 217px;
}

.card .descricao {
    color: white;
    padding: 8px;
    font-size: 12px;
    line-height: 15px;
    transition: all 0.5s ease-in-out, font-size 0.5s ease-in-out;

}

.card:hover .descricao {
    color: white;
    font-size: 17px;
    line-height: 22px;

}

.titulocard p {
    color: white;
    height: 2%;
    font-family: "Italianno", serif;
    font-size: 35px;
    transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.card:hover .titulocard p {
    height: 5%;
    font-family: "Italianno", serif;
    font-size: 45px;

}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


footer {
    background: none;
    padding: 10px 0;
    text-align: left;
}

footer .creditos p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FF3131;
    margin: 5px 0;
}

footer .creditos a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer .creditos a:hover {
    color: #FFD700;
}
